:root {
  --color-white: #fff;
  --color-black: #000;
  --bs-border: #c2c6ca;
  --color-theme: #FF0000;
  --color-theme-rgb: 255, 0, 0;
  --color-dark: #190200;
  --border: 1px dashed var(--bs-border);
  --facebook: #1778F2;
  --messenger: #0084ff;
  --twitter: #1da1f2;
  --linkedIn: #0e76a8;
  --skype: #00aff0;
  --google-plus: #ea4335;
  --youtube: #ff0000;
  --whatsApp: #25d366;
  --medium: #02b875;
  --instagram: #c32aa3;
  --pinterest: #bd081c;
  --google: #4285f4;
  --snapchat: #fffc00; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth;
  font-size: 62.5%; }

body {
  font-family: "Roboto", sans-serif; }

img {
  max-width: 100%;
  transition: all 0.3s ease-out 0s; }

a,
.button,
button {
  cursor: pointer;
  display: inline-block;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }

a:focus,
.button:focus {
  text-decoration: none;
  outline: none; }

a {
  outline: medium none;
  text-decoration: none; }

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
  outline: 0; }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

p {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 2.4rem;
  margin-bottom: 1.5rem; }

hr {
  border-bottom: 1px solid #eceff8;
  border-top: 0 none;
  margin: 3rem 0;
  padding: 0; }

label {
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 400; }

.fz-extra-small {
  font-size: 1.2rem !important; }

.fz-small {
  font-size: 1.4rem !important; }

.fz-normal {
  font-size: 1.6rem !important; }

.fz-large {
  font-size: 2rem !important; }

.fz-extra-large {
  font-size: 2.4rem !important; }

.text-black {
  color: var(--color-black) !important; }

.text-theme {
  color: var(--color-theme) !important; }

.hover-text-black:hover {
  color: var(--color-black) !important; }

.hover-text-dark:hover {
  color: var(--color-dark) !important; }

.hover-text-white:hover {
  color: var(--color-white) !important; }

.hover-text-theme:hover {
  color: var(--color-theme) !important; }

.bg-black {
  background-color: var(--color-black) !important; }

.bg-theme {
  background-color: var(--color-theme) !important; }

.hover-bg-dark:hover {
  background-color: var(--color-dark) !important; }

.hover-bg-black:hover {
  background-color: var(--color-black) !important; }

.hover-bg-white:hover {
  background-color: var(--color-white) !important; }

.hover-bg-theme:hover {
  background-color: var(--color-theme) !important; }

.overflow-x-hidden {
  overflow-x: hidden;
  overflow-y: auto; }

.line-height {
  line-height: 26px !important; }

.pt-50, .py-50 {
  padding-top: 5rem !important; }

.pb-50, .py-50 {
  padding-bottom: 5rem !important; }

.pt-75, .py-75 {
  padding-top: 7.5rem !important; }

.pb-75, .py-75 {
  padding-bottom: 7.5rem !important; }

.pt-95, .py-95 {
  padding-top: 9.5rem !important; }

.pb-95, .py-95 {
  padding-bottom: 9.5rem !important; }

.gx-70 {
  --bs-gutter-x: 7rem !important; }

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4; }

.go-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: var(--color-theme);
  color: #fff;
  font-size: 2rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(2rem);
  visibility: hidden;
  opacity: 0;
  z-index: 2; }
  .go-to-top.active {
    transform: translateY(0rem);
    visibility: visible;
    opacity: 1; }
  .go-to-top:hover {
    transform: translateY(-4px); }
  .go-to-top:active {
    transform: translateY(-2px); }

.add {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.3); }

.arrows {
  z-index: 1;
  background: var(--color-theme);
  border-radius: 50%;
  color: var(--color-white);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  cursor: pointer; }
  .arrows.prev {
    left: 3px; }
  .arrows.next {
    right: 2px; }

input:not(.not-default),
select:not(.not-default),
textarea:not(.not-default) {
  padding: 1.4rem 2rem;
  border: 1px solid #6d6d6d63;
  font-size: 1.6rem;
  background-color: #fff;
  color: var(--bs-dark);
  width: 100%;
  transition: 0.3s; }
  input:not(.not-default)::placeholder,
  select:not(.not-default)::placeholder,
  textarea:not(.not-default)::placeholder {
    color: var(--color-dark); }
  input:not(.not-default).transparent,
  select:not(.not-default).transparent,
  textarea:not(.not-default).transparent {
    border: 1px solid #6d6d6d;
    background-color: rgba(112, 114, 116, 0.25);
    color: var(--color-white); }
    input:not(.not-default).transparent::placeholder,
    select:not(.not-default).transparent::placeholder,
    textarea:not(.not-default).transparent::placeholder {
      color: var(--bs-light); }
  input:not(.not-default):focus,
  select:not(.not-default):focus,
  textarea:not(.not-default):focus {
    border-color: var(--color-theme); }

textarea:not(.not-default) {
  height: 20rem; }

/* hide arrow of number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
  display: none; }

.bottom-after {
  position: relative; }
  .bottom-after::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 5rem;
    height: 3px;
    background-color: var(--color-theme); }

.app-link {
  color: inherit !important;
  font-size: inherit; }

.list-style {
  padding-left: 2rem; }
  .list-style li {
    list-style: disc; }

@keyframes animateBottomFromTop {
  49% {
    transform: translateY(-100%); }
  50% {
    opacity: 0;
    transform: translateY(100%); }
  51% {
    opacity: 1; } }

section, footer.footer-section {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  position: relative; }

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .9;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }
  .background-overlay--image {
    background-color: rgba(0, 0, 0, 0.809); }
  .background-overlay--light {
    background-color: #fff; }
  .background-overlay--dark {
    background-color: #000; }
  .background-overlay--dark--2 {
    background-color: rgba(0, 0, 0, 0.864); }
  .background-overlay--half {
    height: 50%; }

.background-light {
  background-color: #F2F2F2; }

.footer-logo {
  max-width: 30rem; }

.footer-text {
  color: #dadada;
  font-size: 1.4rem; }

.footer-list__item {
  display: flex;
  margin-bottom: 8px; }

.footer-list__icon {
  font-size: 1.6rem;
  margin-right: 1rem;
  color: var(--color-theme); }

.footer-list a {
  color: inherit; }

.copyright {
  padding: 2rem;
  text-align: center;
  font-size: 1.6rem;
  background-color: #000;
  color: #dadada;
  position: relative;
  z-index: 1; }

.button {
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  position: relative; }
  .button__icon {
    padding-right: 1rem;
    color: var(--color-theme);
    transition: .3s; }
  .button--primary {
    padding: 1.5rem 1em;
    color: var(--color-white);
    background-color: var(--color-black); }
    .button--primary:hover, .button--primary:focus {
      color: var(--color-black);
      background-color: #fff; }
  .button--secondary {
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    position: relative;
    z-index: 1; }
    .button--secondary__text {
      color: var(--color-black);
      background-color: transparent;
      position: relative;
      padding: 1rem 2rem;
      transition: 1s; }
    .button--secondary .icon {
      color: var(--color-white);
      background-color: var(--color-theme);
      width: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 2;
      transition: .3s; }
    .button--secondary::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 0;
      background-color: var(--color-black);
      transition: 0.5s;
      z-index: -1; }
    .button--secondary:hover span {
      color: var(--color-white); }
    .button--secondary:hover::after {
      width: 100%;
      left: 0; }
  .button--secondary--2 {
    padding: 1.5rem 2.5rem;
    background-color: var(--color-black);
    color: #fff; }
    .button--secondary--2 .button--secondary__icon {
      color: var(--color-theme);
      margin-right: 1rem; }
    .button--secondary--2 .button--secondary__text {
      color: var(--color-white);
      padding: 0; }
    .button--secondary--2:hover {
      background-color: var(--color-theme); }
      .button--secondary--2:hover .button--secondary__icon {
        color: var(--color-white); }
  .button--tertiary {
    padding: 5px 2rem;
    border-radius: 50px;
    background-color: var(--color-theme); }
    .button--tertiary__icon {
      color: var(--color-white);
      position: absolute;
      right: 2rem;
      opacity: 0;
      transition: .3s; }
    .button--tertiary__text {
      color: var(--color-white); }
    .button--tertiary:hover {
      padding-right: 4rem; }
      .button--tertiary:hover .button--tertiary__icon {
        opacity: 1; }
  .button--tertiary--2 {
    padding: 5px 2rem;
    color: var(--color-white);
    background-color: var(--color-theme);
    border: 2px solid transparent; }
    .button--tertiary--2:hover, .button--tertiary--2:focus {
      color: var(--color-theme);
      background-color: transparent;
      border-color: var(--color-theme); }
  .button--link {
    color: var(--color-black); }
    .button--link .button__icon {
      margin-left: 1rem; }
    .button--link:hover {
      color: var(--color-theme); }
      .button--link:hover .button__icon {
        margin-left: 1.5rem; }
  .button--small {
    font-size: 1.2rem !important;
    border-width: 1px;
    font-weight: 600; }

.heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 700; }
  .heading a {
    color: inherit; }
    .heading a:hover {
      color: var(--color-theme); }
  .heading--primary {
    font-size: 40px;
    margin-bottom: 0;
    color: #fff;
    clear: both;
    line-height: 1.2;
    margin: 0 0 15px;
    font-weight: 700; }
  .heading--section {
    max-width: 48rem; }
    .heading--section.heading--section--full {
      max-width: 100%; }
    .heading--section__subTitle {
      color: var(--color-theme);
      font-size: 1.6rem;
      position: relative;
      margin-bottom: 1rem;
      display: inline-block; }
      .heading--section__subTitle::before {
        content: '';
        position: absolute;
        top: 50%;
        right: 130%;
        height: 3px;
        width: 5rem;
        transform: translateY(-50%);
        background-color: var(--color-theme);
        display: none; }
      .heading--section__subTitle::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 130%;
        height: 3px;
        width: 5rem;
        transform: translateY(-50%);
        background-color: var(--color-theme); }
    .heading--section__title {
      display: block;
      font-size: 32px;
      line-height: 34px; }
    .heading--section__text {
      font-size: 1.6rem;
      line-height: 24px;
      margin-top: 2rem; }
    .heading--section.heading--center {
      text-align: center;
      margin: auto; }
      .heading--section.heading--center .heading--section__subTitle::before {
        display: block; }
  .heading--secondary {
    font-size: 18px; }
  .heading--tertiary {
    font-size: 2.2rem; }
  .heading--tertiary--2 {
    font-size: 2rem;
    font-weight: 600; }
  .heading--light .heading--section__subTitle, .heading--light .heading--section__title, .heading--light .heading--section__text {
    color: var(--color-white); }
  .heading--light .heading--section__subTitle::before, .heading--light .heading--section__subTitle::after {
    background-color: #fff; }
  .heading--dark {
    color: var(--color-dark); }
    .heading--dark .heading--section__subTitle, .heading--dark .heading--section__title, .heading--dark .heading--section__text {
      color: var(--color-dark); }
    .heading--dark .heading--section__subTitle::before, .heading--dark .heading--section__subTitle::after {
      background-color: var(--bs-dark); }

.slider__item {
  height: 50rem;
  background-size: cover;
  background-repeat: no-repeat; }

.slider--banner .slider__item {
  height: 70rem; }

.slick-dots {
  margin-top: 2rem;
  bottom: -40px; }
  .slick-dots li button {
    height: 2rem;
    width: 2rem;
    background-color: var(--bs-secondary); }
    .slick-dots li button::before {
      display: none; }
  .slick-dots li.slick-active button {
    background-color: var(--color-theme); }

.facebook {
  --social-media-color: var(--facebook); }

.twitter {
  --social-media-color: var(--twitter); }

.youtube {
  --social-media-color: var(--youtube); }

.linkedin {
  --social-media-color: var(--linkedIn); }

.google {
  --social-media-color: var(--google); }

.skype {
  --social-media-color: var(--skype); }

.social-links {
  --social-media-size: 3.5rem;
  --social-media-font-size: 1.6rem;
  display: flex; }
  .social-links--small {
    --social-media-size: 2.5rem;
    --social-media-font-size: 1.2rem; }
  .social-links--medium {
    --social-media-size: 3.5rem;
    --social-media-font-size: 1.6rem; }
  .social-links--black {
    --social-media-color: var(--bs-dark);
    --social-media-bg: var(--bs-white);
    --social-media-color-hover: var(--color-theme); }
  .social-links--center {
    justify-content: center; }
  .social-links__item {
    width: var(--social-media-size);
    height: var(--social-media-size);
    color: var(--social-media-color);
    background-color: var(--social-media-bg);
    font-size: var(--social-media-font-size);
    margin-left: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .social-links__item:hover, .social-links__item:focus {
      background-color: var(--social-media-color);
      color: var(--color-white); }
  .social-links--with-bg .social-links__item {
    color: var(--bs-light);
    background-color: var(--social-media-color); }
    .social-links--with-bg .social-links__item:hover {
      color: var(--social-media-color);
      background-color: #d9d9d9; }

.search-box__button {
  border: none;
  background-color: var(--color-yellow); }

.banner-section {
  position: relative; }
  .banner-section::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10%;
    color: var(--color-white);
    background-image: url("../img/shape.svg"); }

.banner__heading {
  color: var(--bs-white);
  font-size: 4rem;
  line-height: 46px;
  margin-bottom: 0; }

.banner__text {
  font-size: 1.6rem;
  color: var(--bs-white);
  letter-spacing: 2px;
  padding: 1rem 0; }

.banner__contents {
  position: absolute;
  top: 42%;
  transform: translateY(-50%);
  max-width: 65rem;
  width: calc(100% - 42%); }

.banner--half {
  height: 30rem; }

.banner--search-area {
  position: relative;
  height: 100%; }
  .banner--search-area__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 42rem; }
    .banner--search-area__inner.full-width {
      max-width: 100%;
      text-align: center; }

.banner-services__icon {
  max-width: 7rem;
  margin-bottom: 1.7rem; }

.banner-services .button {
  margin-top: 11px; }

.banner-services__item {
  padding: 3rem;
  text-align: center; }

.banner-services__heading {
  margin-bottom: 0; }

.banner-services__text {
  margin: 1.7rem 0; }

.banner-services__inner {
  position: relative; }
  .banner-services__inner::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    height: 10rem;
    background-image: url(../img/shape.svg); }

.nav-bar {
  background-color: var(--bs-white); }
  .nav-bar .logo {
    margin: 0 1rem; }
    .nav-bar .logo a {
      display: flex;
      flex-direction: column;
      color: var(--bs-light);
      text-align: center;
      font-size: 1.2rem; }
    .nav-bar .logo__image {
      max-width: 15rem; }
  .nav-bar--top {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 3px 0; }
    .nav-bar--top__icon {
      font-size: 1rem;
      margin-right: 8px;
      color: var(--color-theme); }
    .nav-bar--top__item {
      display: flex;
      font-size: 1.2rem;
      align-items: center;
      color: var(--bs-dark);
      margin-right: 2rem; }
      .nav-bar--top__item:hover {
        color: var(--color-theme); }
  .nav-bar--desktop {
    display: flex;
    align-items: center;
    justify-content: center; }
    .nav-bar--desktop .logo {
      background-color: var(--color-dark); }
      .nav-bar--desktop .logo a {
        padding: 1rem 3rem; }
    .nav-bar--desktop ul li {
      display: inline-block; }
    .nav-bar--desktop ul a {
      display: block;
      font-size: 1.6rem;
      color: var(--bs-dark);
      padding: 2rem 1rem;
      text-transform: uppercase;
      font-weight: 600;
      font-family: "Poppins", sans-serif;
      position: relative; }
      .nav-bar--desktop ul a::after {
        content: "";
        position: absolute;
        bottom: 10px;
        right: 0;
        width: 0;
        height: 2px;
        background-color: var(--color-theme);
        transition: 0.2s; }
      .nav-bar--desktop ul a:hover::after {
        left: 0;
        width: 100%; }
  .nav-bar--mobile {
    padding: 1.5rem 0; }
    .nav-bar--mobile .logo {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .nav-bar--mobile .logo a {
        display: inline-block; }
    .nav-bar--mobile .hamburger-menu-icon {
      border: none;
      outline: none;
      background-color: transparent;
      font-size: 2rem;
      position: relative;
      z-index: 3;
      border-radius: 50%;
      height: 4rem;
      width: 4rem;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center; }
  .nav-bar--bottom.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); }

.mobile-navigation {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  overflow-x: hidden;
  max-width: 30rem;
  background-color: #fff;
  z-index: 2;
  transition: .3s; }
  .mobile-navigation .logo img {
    max-width: 18rem;
    margin: auto; }
  .mobile-navigation ul li a {
    color: var(--color-dark);
    font-size: 1.6rem;
    display: block;
    padding: 6px 2rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    text-align: center; }
    .mobile-navigation ul li a:hover {
      color: var(--color-theme); }

.about-image {
  width: 85%;
  position: relative; }
  .about-image__img {
    position: relative;
    z-index: 1;
    top: 3rem;
    left: 3rem; }
  .about-image__content {
    position: relative;
    left: 5rem;
    top: -3rem;
    width: calc(100% - 4rem);
    z-index: 1;
    background-color: #fff;
    padding: 2rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px; }
    .about-image__content::before {
      content: '';
      position: absolute;
      bottom: 76%;
      left: 0;
      right: 0;
      height: 4rem;
      z-index: -2;
      background-color: var(--color-theme);
      border-top-left-radius: 30px;
      border-top-right-radius: 30px; }
    .about-image__content::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      background-color: var(--color-white);
      border-top-left-radius: 30px;
      border-top-right-radius: 30px; }
  .about-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: calc(100% - 15rem);
    background-color: var(--color-theme); }

.about-us__item {
  text-align: center; }

.about-us__inner {
  padding: 0 2rem; }

.about-us__icon {
  font-size: 4rem;
  color: var(--color-theme); }

.cart-slider .cart {
  margin-left: calc(var(--bs-gutter-x) / 2);
  margin-right: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y); }

.cart {
  position: relative;
  padding: 2rem;
  padding-bottom: 0;
  margin-bottom: 7rem;
  background-color: var(--color-white);
  transition: 0.4s; }
  .cart--no-padding {
    padding: 0; }
  .cart__icon {
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-white);
    width: 7rem;
    height: 7rem;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s; }
  .cart__image {
    position: relative;
    margin-bottom: 0; }
    .cart__image img {
      width: 100%; }
    .cart__image::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background-color: rgba(43, 43, 43, 0.755);
      opacity: 0.5;
      transition: 0.5s;
      height: 0; }
    .cart__image::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(43, 43, 43, 0.755);
      opacity: 0.5;
      transition: 0.5s;
      height: 0; }
  .cart__meta {
    font-size: 1.4rem;
    color: #797979;
    display: flex;
    align-items: center;
    padding: 3px 0; }
    .cart__meta--item {
      margin-right: 1rem; }
    .cart__meta--icon {
      margin-right: 0.5rem;
      color: var(--color-theme); }
  .cart--text-center {
    text-align: center; }
  .cart__heading {
    margin-top: 1rem;
    margin-bottom: 0; }
  .cart__details {
    margin-top: 1rem;
    margin-bottom: 0; }
  .cart__button {
    margin-top: 1rem;
    margin-bottom: 0; }
    .cart__button--2 {
      display: none;
      transition: none; }
  .cart__content {
    position: absolute;
    bottom: 0;
    left: 1.5rem;
    height: 108px;
    transform: translateY(50%);
    width: calc(100% - 3rem);
    background-color: #ededed;
    padding: 15px;
    border-radius: 5px;
    z-index: 3; }
  .cart--primary {
    padding-bottom: 2rem; }
    .cart--primary:hover .cart__image::before {
      bottom: 0;
      height: 100%; }
    .cart--primary:hover .cart__image::after {
      top: 0;
      height: 100%; }
    .cart--primary:hover .cart__icon {
      left: 50%; }
  .cart.after {
    position: relative; }
    .cart.after::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 5px;
      background-color: var(--color-theme); }

.box-layout {
  text-align: center; }

.box {
  display: inline-block;
  min-width: 16rem;
  text-align: center;
  margin: 2rem 1rem 0 1rem; }
  .box__inner {
    padding: 2rem;
    background-color: #e6e6e6;
    border-radius: 1rem;
    transition: .3s; }
  .box__icon {
    margin-bottom: 2rem;
    font-size: 3rem;
    color: var(--color-theme); }
  .box__number {
    font-size: 3rem;
    margin-bottom: 0;
    font-weight: 700;
    font-family: "Poppins", sans-serif; }
  .box__title {
    margin-top: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: var(--color-white);
    margin-bottom: 0; }
  .box:hover .box__inner {
    background-color: #fff; }

.user-profile {
  text-align: center;
  background-color: var(--color-white);
  padding: 4rem 2rem;
  border-radius: 10px;
  transition: .3s; }
  .user-profile__image {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    margin-bottom: 1rem;
    position: relative;
    margin: auto;
    margin-bottom: 2rem; }
    .user-profile__image img {
      border-radius: 50%; }
  .user-profile__social-icon {
    position: absolute;
    top: 0;
    right: 0;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-theme);
    color: var(--color-white) !important;
    font-size: 1.4rem;
    border-radius: 50%; }
  .user-profile__title {
    margin-bottom: 1rem; }
  .user-profile:hover {
    background-color: var(--color-black); }
    .user-profile:hover .user-profile__name, .user-profile:hover .user-profile__title {
      color: var(--color-white); }

.contact-info__item {
  --size: 70px;
  display: flex;
  margin-bottom: 2rem; }
  .contact-info__item .app-link {
    color: inherit; }
    .contact-info__item .app-link:hover {
      color: var(--color-theme); }

.contact-info__icon {
  height: var(--size);
  width: var(--size);
  background-color: rgba(112, 114, 116, 0.25);
  border: 1px solid #5b5b5b;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: var(--color-white);
  transition: .3s;
  overflow: hidden; }

.contact-info__content {
  margin-left: 2rem;
  width: calc(100% - var(--size)); }

.contact-info__heading {
  color: var(--color-white); }

.contact-info__text {
  color: #c2c2c2;
  font-size: 1.6rem;
  margin-bottom: 0; }

.contact-info:hover .contact-info__icon {
  border-color: #9d9d9d; }

.contact-info:hover .contact-info__icon i {
  animation: animateBottomFromTop .3s; }

.contact-button {
  background-color: rgba(112, 114, 116, 0.25);
  border: 1px solid #6d6d6d; }

.google-map {
  width: 100%;
  height: 40rem; }

.subscribe-form {
  width: 100%;
  max-width: 42rem;
  position: relative; }
  .subscribe-form__input {
    padding: .8rem 1.5rem;
    font-size: 1.6rem;
    width: 100%;
    border: none; }
  .subscribe-form__button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    border: none;
    outline: none;
    background-color: var(--color-theme);
    color: var(--color-white); }
  .subscribe-form.side-bar__search-form .subscribe-form__input {
    border: 1px solid rgba(189, 189, 189, 0.467); }
    .subscribe-form.side-bar__search-form .subscribe-form__input:focus {
      border-color: var(--color-theme); }

.team-member-box {
  border-radius: 10px;
  overflow: hidden;
  background-color: #eaeaea;
  box-shadow: 0 10px 21px rgba(34, 34, 34, 0.2); }
  .team-member-box__name-box {
    display: flex; }
    .team-member-box__name-box--icon {
      --icon-size: 10rem;
      background-color: #d4d4d4;
      font-size: 4rem;
      height: var(--icon-size);
      width: var(--icon-size);
      display: flex;
      align-items: center;
      justify-content: center;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px; }
    .team-member-box__name-box--inner {
      background-color: var(--color-dark);
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      min-width: 23rem;
      width: 34rem; }
    .team-member-box__name-box--name {
      color: var(--color-white);
      font-weight: 700;
      font-size: 2.6rem; }
    .team-member-box__name-box--position {
      font-size: 1.6rem;
      color: #bebebe; }
  .team-member-box__contact--item {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    margin-bottom: 2rem; }
  .team-member-box__contact--icon {
    margin-right: 1.5rem; }

.service-tab .nav {
  display: flex;
  align-items: center;
  flex-wrap: nowrap; }

.service-tab__item {
  width: 100%; }

.service-tab__button {
  width: 100%;
  padding: 8px 2rem;
  background-color: #f5f5f5;
  font-size: 1.4rem;
  border: none;
  outline: none;
  font-weight: 600;
  letter-spacing: 1.5px; }
  .service-tab__button.active {
    color: var(--bs-light);
    background-color: var(--color-theme); }

.accordion-button:not(.collapsed) {
  color: var(--color-theme);
  background-color: rgba(var(--color-theme-rgb), 0.05); }

.accordion-button:focus {
  border-color: rgba(var(--color-theme-rgb), 0.1); }

.side-bar {
  --border: 1px solid #1d1d1d2a; }
  .side-bar__link {
    padding: 1.2rem .5rem;
    border-bottom: var(--border);
    font-size: 1.4rem;
    color: var(--bs-dark);
    display: block; }
    .side-bar__link-left-icon {
      margin-right: 8px; }
    .side-bar__link-number {
      float: right;
      width: 2.5rem;
      height: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.2rem;
      background-color: #e1e1e1;
      color: var(--bs-dark) !important; }
    .side-bar__link:hover {
      color: var(--color-theme); }

.blog-details {
  --border: 1px solid #1d1d1d2a;
  --border-radius: 10px;
  border: var(--border);
  border-radius: var(--border-radius);
  color: #676767;
  margin-bottom: 3rem; }
  .blog-details__image img {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius); }
  .blog-details__content {
    padding: 3rem;
    font-size: 1.6rem;
    letter-spacing: 0.6px; }
  .blog-details__meta {
    display: flex;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: var(--border);
    position: relative; }
    .blog-details__meta__item {
      margin-right: 2rem; }

.blog-tags, .blog-share {
  display: flex;
  align-items: center;
  font-size: 1.2rem; }

.comment {
  margin-bottom: 2rem; }
  .comment__image img {
    width: 100%;
    border-radius: 50%; }
  .comment__content {
    background-color: #F4F7FC;
    padding: 2rem;
    font-size: 1.4rem;
    border-radius: 10px; }
  .comment__author {
    font-size: 1.9rem;
    font-weight: 500; }
  .comment__date {
    color: #a4a4a4; }
  .comment__text {
    margin-top: 2rem; }

@media (min-width: 576px) {
  .about-us__item {
    text-align: left; }
    .about-us__item:not(:last-child) {
      border-right: var(--border); } }

@media (min-width: 768px) {
  .overflow-md-visible {
    overflow: visible !important; }
  .button {
    font-size: 1.6rem; }
    .button--primary {
      padding: 2rem 3rem; }
  .heading__secondary {
    font-size: 22px; }
  .heading--section__title {
    font-size: 36px;
    line-height: 40px; }
  .banner__heading {
    font-size: 7rem;
    line-height: 75px; }
  .banner .banner__contents {
    width: 100%; }
  .banner-services .row > *:not(:last-child) {
    border-right: var(--border); }
  .banner-services__item {
    text-align: left; } }

@media (min-width: 992px) {
  .cart__icon {
    left: -1rem; } }

/*# sourceMappingURL=style.css.map */