.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    @include flex-center;
    z-index: 4;
}

// go to top button -------------------------
.go-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: var(--color-theme);
    color: #fff;
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s;
    @include flex-center;
    transform: translateY(2rem);
    visibility: hidden;
    opacity: 0;
    z-index: 2;

    &.active {
        transform: translateY(0rem);
        visibility: visible;
        opacity: 1;
    }

    &:hover {
        transform: translateY(-4px);
    }

    &:active {
        transform: translateY(-2px);
    }
}

.add {
    font-size: 2rem;
    @include flex-center;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
}

input:not(.not-default),
select:not(.not-default),
textarea:not(.not-default) {
    padding: 1.4rem 2rem;
    border: 1px solid #6d6d6d63;
    font-size: 1.6rem;
    background-color: #fff;
    color: var(--bs-dark);
    width: 100%;
    transition: 0.3s;

    &::placeholder {
        color: var(--color-dark);
    }

    &.transparent {
        border: 1px solid #6d6d6d;
        background-color: rgba(112, 114, 116, 0.25);
        color: var(--color-white);

        &::placeholder {
            color: var(--bs-light);
        }
    }

    &:focus {
        border-color: var(--color-theme);
    }
}
textarea:not(.not-default) {
    height: 20rem;
}

/* hide arrow of number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.bottom-after {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 5rem;
        height: 3px;
        background-color: var(--color-theme);
    }
}

.app-link {
    color: inherit !important;
    font-size: inherit;
}

.list-style {
    padding-left: 2rem;

    li {
        list-style: disc;
    }
}

.row div[class^="col-"] {
    padding-right: calc(var(--bs-gutter-x)/ 2);
    padding-left: calc(var(--bs-gutter-x)/ 2);
    margin-top: var(--bs-gutter-y);
}
