// colors ------------------
:root {
    --color-white: #fff;
    --color-black: #000;
    --bs-border: #c2c6ca;

    // theme colors
    --color-theme: #FF0000;
    --color-theme-rgb: 255, 0, 0;
    --color-dark: #190200;
    --border: 1px dashed var(--bs-border);

    // social media colors
    --facebook: #1778F2;
    --messenger: #0084ff;
    --twitter: #1da1f2;
    --linkedIn: #0e76a8;
    --skype: #00aff0;
    --google-plus: #ea4335;
    --youtube: #ff0000;
    --whatsApp: #25d366;
    --medium: #02b875;
    --instagram: #c32aa3;
    --pinterest: #bd081c;
    --google: #4285f4;
    --snapchat: #fffc00;
}

