.comments {}

.comment {
    margin-bottom: 2rem;
    
    &__image {
        img {
            width: 100%;
            border-radius: 50%;
        }
    }

    &__content {
        background-color: #F4F7FC;
        padding: 2rem;
        font-size: 1.4rem;
        border-radius: 10px;
    }

    &__author {
        font-size: 1.9rem;
        font-weight: 500;
    }

    &__date {
        color: #a4a4a4;
    }

    &__text {
        margin-top: 2rem;
    }
}