.service-tab {
    .nav {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
    }
    &__item {
        width: 100%;
    }

    &__button {
        width: 100%;
        padding: 8px 2rem;
        background-color: #f5f5f5;
        font-size: 1.4rem;
        border: none;
        outline: none;
        font-weight: 600;
        letter-spacing: 1.5px;
        
        &.active {
            color: var(--bs-light);
            background-color: var(--color-theme);
        }
    }
}

.accordion-button:not(.collapsed) {
    color: var(--color-theme);
    background-color: rgba(var(--color-theme-rgb), .05);
}
.accordion-button:focus {
    border-color: rgba(var(--color-theme-rgb), .1);
}