// font sizes ------------------------------------
.fz-extra-small{ font-size: 1.2rem !important; }
.fz-small{ font-size: 1.4rem !important; }
.fz-normal{ font-size: 1.6rem !important; }
.fz-large{ font-size: 2rem !important; }
.fz-extra-large{ font-size: 2.4rem !important; }
// colors ------------------------------------

.text-black{ color: var(--color-black) !important; }
.text-theme{ color: var(--color-theme) !important; }

.hover-text-black:hover{ color: var(--color-black) !important; }
.hover-text-dark:hover{ color: var(--color-dark) !important; }
.hover-text-white:hover{ color: var(--color-white) !important; }
.hover-text-theme:hover{ color: var(--color-theme) !important; }

.bg-black{ background-color: var(--color-black) !important; }
.bg-theme{ background-color: var(--color-theme) !important; }

.hover-bg-dark:hover{ background-color: var(--color-dark) !important; }
.hover-bg-black:hover{ background-color: var(--color-black) !important; }
.hover-bg-white:hover{ background-color: var(--color-white) !important; }
.hover-bg-theme:hover{ background-color: var(--color-theme) !important; }

.overflow-x-hidden {
    overflow-x: hidden;
    overflow-y: auto;
}
.line-height {line-height: 26px !important; }

.pt-50, .py-50 { padding-top: 5rem !important; }
.pb-50, .py-50 { padding-bottom: 5rem !important; }

.pt-75, .py-75 { padding-top: 7.5rem !important; }
.pb-75, .py-75 { padding-bottom: 7.5rem !important; }

.pt-95, .py-95 { padding-top: 9.5rem !important; }
.pb-95, .py-95 { padding-bottom: 9.5rem !important; }

.gx-70 { --bs-gutter-x: 7rem !important; }

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}