.subscribe-form {
    position: relative;

    &__input {
        padding: .8rem 1.5rem;
        font-size: 1.6rem;
        width: 100%;
        border: none;
    }

    &__button {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 4rem;
        @include flex-center;
        font-size: 1.8rem;
        border: none;
        outline: none;
        background-color: var(--color-theme);
        color: var(--color-white);
    }
}